# Database content
data/db/*
data/backup/*
data/sql/*.sql

# Config files
.env

# Wordpress files
wordpress/wp-config.php

wordpress/wp-content/cache/*
wordpress/wp-content/uploads/*
wordpress/wp-content/upgrade/*

wordpress/wp-content/debug.log

# General files
.idea/*
.vscode/*
.DS_Store
