# Database content
data/db/*
data/backup/*
data/sql/*

# Config files
.env

# Wordpress files
wordpress/wp-config.php
wordpress/wp-content/cache/*
wordpress/wp-content/uploads/*
wordpress/wp-content/upgrade/*

# General files
.idea/*
.DS_Store
